body {

    height: 100vh;
    margin: 0;

}

.footer-main {
    background-color: #f9f9f9;
    height:288px;
    margin-left: 30px;
    margin-top: 30px;
}

.footer-title {
    width:400px;
    height:24px;
    margin-left: 10px;
    
}

.footer-title__text {
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    position: relative;
    top: -5px;
    left: -10px;
    background-color: #f9f9f9;
}

.grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    width: 100%;
    background-color: #f8f8f8;
}



.icon {
   
    background-color: #f0f0f0; 
    border: 1px solid #ccc;
   width: 240px;
    height: 72px; 
}

.grid-icn {
   width:100%;
   height:100%;
} 


.hidden {
    display: none;
}

.wrapper {
    display: none;
}

.swiper {
    display: none !important;
}

.swiper-pagination {
    display: none;
}

.py-1{
    display: none !important;
}

.end {
    display: flex;
    justify-content: space-between;
    width: 127px;
    margin-top: 25px;
}

#seeMoreBtn {

}

#end-icon {

}

#pagination-dots {
    display: none ;
}



/* Media tablet */

@media screen and (max-width:1096px) {

    
   .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
   

   }

   .tablet {
    display: none;
}

    .wrapper{
        display: none;
    }

}

/* Media mobile */

@media screen and (max-width:760px) {

         .footer-title {
            /* width: 288px; */
            width: 100%;
            height: 48px;
           margin-top: 40px;
           margin-left: 25px;
            display: flex;
            flex-direction: column;
         }

         #seeMoreBtn{
              display: none;           
         }
      #end-icon {
        display: none;
      }


         .footer-title__text {
            margin-left: -13px !important;
         width: 100%;
         }
        .footer-main {
            margin-top: -10px !important;
            width: 370px;
           background-color:#f9f9f9  !important;
        }

         .grid {
            display: none !important;
         }
         
         .end {
            display: none;
         }
#pagination-dots{
    display: flex !important;
}

.py-1{
    display: flex !important;
    margin-top: 30px !important;
}
   .icns {
    width:100% !important;
    height: 100% !important;
    
  
   }

   .bg-gray-400 {
    width: 12px !important;
    height: 12px !important;
    background-color:#DDDDDD !important;
   }

   .bg-gray-900 {
    background-color: #B5B6BC !important;
    width: 12px !important;
    height: 12px !important;
   }

        }
