body {

    height: 100vh;
    margin: 0;

}

.footer-main {
    width:1120px; 
    height:288px;
    margin-left: 30px;
    margin-top: 50px;
}

.footer-title {
    width:400px;
    height:24px;
}

.footer-title__text {
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    position: relative;
    top: -5px;
    left: 24px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    width: 700px;

}

.swiper {
    display: none;
}

.oval {
    display: none;
}

.icon {
    padding:5px;
    background-color: #f0f0f0; 
    border: 1px solid #ccc;
   width: 240px;
    height: 72px; 
}

.img {
    float: right;
}

.hidden {
    display: none;
}

.wrapper {
    display: none;
}

.swiper {
    display: none !important;
}



/* Media tablet */

@media screen and (max-width:1096px) {
    .icon {
       width: 224px;
        height: 72px; 
    }
    
   .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
   

   }

    .tablet {
        display: none;
    }

    .wrapper{
        display: none;
    }

}

/* Media mobile */

@media screen and (max-width:760px) {

         .footer-title {
            width: 288px;
            height: 48px;
            padding: 35px;
            display: flex;
            flex-direction: column;
         }

        .footer-main {
            width: 370px;
         
        }

         .grid {
            display: none;
         }
         
         .end {
            display: none;
         }

      
        .swiper {
            display: block !important;
            width: 240px;
            height: 72px;
            border: 1px solid #ccc;
            margin-left: -30px;
            margin-top: 30px;
        }

       .swiper-wrapper {
            margin-left: 10px;
        }
        .swiper-slide {
            margin-top: 10px;
         
        } 

       

        .go {
            margin-left: 50px;
        }

        .go3 {
          
            margin-left: 120px;
        }

        .go5 {
            margin-top: -1px;
            margin-left: 110px;
        }

       .go6 {
        margin-top: 20px;
        margin-left: 80px;
       }

       .go9 {
        margin-left: 120px;
    }
    .swiper-slide6 {
        margin-top: -5px;
    }


        .swiper-pagination {
            width: 200px !important;
            margin-bottom: 260px;
            margin-left: 80px !important;
          
        }

        }